In [ ]:
# rule no 1 : no name spaces while declaring the variable name

In [3]:
first name = 'rahman'
print(first name)

SyntaxError: invalid syntax (Temp/ipykernel_6984/1077165377.py, line 1)

In [5]:
firstname='rahman'
print(firstname)

rahman

In [6]:
first_name='rahman'
print(first_name)

rahman

In [ ]:
# rule no 2; a variable name should not start with a number

In [7]:
1name='hyderabad'
print(1name)

SyntaxError: invalid syntax (Temp/ipykernel_6984/2633859530.py, line 1)

In [8]:
name1='hyderabad'
print(name1)

hyderabad

In [ ]:
# rule no 3 :a variable name should not contain a specific charecter in it

In [9]:
name@=aman
print(name@)

SyntaxError: invalid syntax (Temp/ipykernel_6984/1064396890.py, line 2)

In [ ]:
# string data types

In [10]:
name='kolkata'   # single quote
print(name)

kolkata

In [11]:
name2="mumbai"  # double quote
print(name2)

mumbai

In [12]:
name3="""chennai"""  # triple quote
print(name3)

chennai